body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: .5em;
}

header > h2 {
  margin: 0;
}

/* Document Title */
.document__name {
  margin: 1em;
  text-align: left;
}

.document__name > label {
  display: block;
  padding-bottom: 0.5em;
}

.document__name > input {
  border: none;
  padding: 0.3em;
  width: 30%;
  font-size: 1rem;
  
}

/* Document Workspace */
.document__workspace {
  display: flex;
}

.markdown, .preview {
  width: 50vw;
}

/* Document Workspace in mobile device */
@media screen and (max-width: 32em) {
  .document__workspace {
    flex-direction: column;
  }

  .markdown, .preview {
    width: 100vw;
  }

  .document__title > input {
    width: 100%;
  }
}

/* TOOLBAR */
.document__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8em;
  border: 1px solid #ddd;
  color: #444;
  font-size: 0.75rem;
  text-align: left;
  text-transform: uppercase;
}

.document__toolbar__buttons > .download__link {
  padding-right: 1.2em;
  color: #000;
  outline: none;
}

/* TEXTAREA */
.markdown__textarea, .preview__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 65vh;
  resize: none;
  padding: 1em;
  font-size: 0.875rem;
  line-height: 1.5;
  border: 1px solid #ddd;
  border-top: none;
  overflow-y: scroll;
}

.markdown__textarea {
  background-color: #fafafa;
}

/* MARKDOWN STYLES */
#preview blockquote {
  border-left: 3px solid #224B4B;
  color: #224B4B;
  padding-left: 5px;
  margin-left: 25px;
}

#preview code {
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

#preview pre {
  background: #e1f5fe;
  padding: 5px 0 5px 5px;
}

#preview h1 {
  border-bottom: 2px solid #eee;
}

#preview table {
  border-collapse: collapse;
}

#preview td, th {
  border: 2px solid #eee;;
  padding: 0.5em;
}


/* Footer */
footer {
  text-align: center;
  color: #444;
  padding: .5em;
}